.maindiv {}

.firstAppDiv {

    display: flex;
    align-items: center;
    justify-content: center;

}

.firstAppDiv.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondthirdAppDiv {
    display: table;
    width: 100%;
}

.seconddiv {
    padding-left: 10%;
    display: table-cell;
    width: 50%;
    height: 150px;
}

.thirddiv {
    padding-left: 15%;
    display: table-cell;
    width: 50%;
    height: 150px;
}